@{
    ViewData["Title"] = "About";
}

<style>
    h2{
        text-align:center;
        margin-bottom: 15px;
    }
    p{
        font-family:'Myanmar Text';
        color: white;
        font-size: 17px;
        text-align: center;
    }
</style>

<h2>You're not like anyone else. Neither are we.</h2>
<p>
    Gummy Bear Kingdom is the world’s best online gift shop. With over one billion items, our purpose is to bring our customers’ passions to life by helping them express themselves and connect with others through unique designs and products.
</p>
<p>
    Our massive array of designs are crowdsourced from a global community of more than two million independent designers. Our platform also offers the ability for customers to create their own individualized products, providing infinite possibilities. We have partnerships with major entertainment properties such as Marvel, Warner Brothers, 20th Century Fox, ABC, CBS, Peanuts and Pixar, which allows customers to celebrate beloved brands.
</p>
<p>
    Gummy Bear Kingdom was founded in 1999 and is the recognized pioneer of customizable products. We are headquartered in Louisville, Kentucky. Our manufacturing facility, also located in Louisville, is the hub for fulfillment across the United States.
</p>