@{
    ViewData["Title"] = "Contact";
}

<style>

    strong{
        color: white;
    }
</style>

<address>
    <br />
    <strong>Support:</strong> <a href="mailto:Support@example.com">sravypv@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@gmail.com</a>
</address>
