<html>
    <head>
        <title>Gummy Bear Kingdom</title>
        <style>

            a.classname {
                background-image: url("https://media.giphy.com/media/1sEonL5e2UCxa/giphy.gif");
                no-repeat top left;
                display: block;
                width: 150px;
                height: 150px;
                text-indent: -9999px; /* hides the link text */
            }
        </style>
    </head>
    <body>
        <h2>Gummy Bear Kingdom</h2>
        <%= @Html.ActionLink("Gummy Bear Products", "Index", "Products", new { @class = "classname" }) %>
        
        <img src="https://media.giphy.com/media/1sEonL5e2UCxa/giphy.gif" alt="Gummy Bears" >
      
        <br />
        <br />
        <%= @Html.ActionLink("View Product Reviews", "Index", "Reviews") %>
        <img src="http://content.presentermedia.com/files/animsp/00012000/12483/woman_checks_it_off_her_list_md_wm.gif" alt="Gummy Bears" />
    </body>
</html>