<html>
    <head>
        <title>Gummy Bear Kingdom</title>
    </head>
    <body>
        <h2>Gummy Bear Kingdom</h2>
        <p>@Html.ActionLink("Gummy Bear Products", "Index", "Products")</p><img src="https://img0.etsystatic.com/218/0/5470846/il_340x270.1371440874_l8ce.jpg" alt="Gummy Bears" height="200" width="200" >
      

        <p>@Html.ActionLink("Product Reviews", "Index", "Reviews")</p><img src="https://i2.wp.com/coremixcapital.com/wp-content/uploads/2014/04/gummy-circle-300x220.png?resize=300%2C220" alt="Gummy Bears" height="200" width="200"/>
    </body>
</html>