<html>
    <head>
        <title>Gummy Bear Kingdom</title>
    </head>
    <body>
        <h2>World Travel Blog</h2>
        <p>@Html.ActionLink("Gummy Bear Products", "Index", "Products")</p>
    </body>
</html>